---
import '@styles/custom.css';

import { Footer } from '@partials/Footer';
import { Navbar } from '@partials/Navbar';
import { AppConfig } from '@utils/AppConfig';
import { personSchemaMarkup, websiteSchemaMarkup } from '@utils/schemaMarkup';

export interface Props {
  head: {
    title: string;
    description: string;
    ogImage?: string;
    ogType?: string;
  };
}

const {
  head: { title, description, ogImage, ogType },
} = Astro.props as Props;
---

<html lang="en" data-theme="lofi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msvalidate.01" content="A3AA1AEE6C57EE63539E74E67696D204" />
    <meta property="og:type" content={ogType || 'website'} />
    <meta property="og:site_name" content={AppConfig.site_name} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={AppConfig.site_url} />
    <meta property="og:image" content={`${ogImage}`} />
    <meta property="og:image:alt" content={AppConfig.title} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:widgets:new-embed-design" content="on" />
    <meta name="twitter:site" content={AppConfig.twitter_handle} />
    <meta name="twitter:creator" content={AppConfig.twitter_handle} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />
    <meta name="twitter:image:alt" content={AppConfig.title} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={AppConfig.author} />
    <meta name="keywords" content={AppConfig.keywords} />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
    />

    <script
      type="application/ld+json"
      set:html={JSON.stringify(personSchemaMarkup)}
    >

    </script>

    <script
      type="application/ld+json"
      set:html={JSON.stringify(websiteSchemaMarkup)}
    >

    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NXPS1JLJ55"
    >

    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-NXPS1JLJ55');
    </script>
  </head>
  <body class="bg-base-100">
    <Navbar path={Astro.url.pathname} />

    <slot />

    <Footer />

    <script>
      const theme_selectors = document.querySelectorAll(
        '#theme-selector div[data-theme]'
      );
      const theme = window.localStorage.getItem('data-theme');

      if (theme) {
        updateTheme(theme);
      } else {
        updateTheme('lofi');
      }

      theme_selectors.forEach((selector) => {
        selector.addEventListener('click', () => {
          updateTheme(selector.getAttribute('data-theme'));
        });
      });

      function updateTheme(newTheme) {
        document
          .querySelector(
            "#theme-selector div[data-set-theme='" + newTheme + "']"
          )
          .classList.add('outline');
        document.querySelector('html').setAttribute('data-theme', newTheme);
        window.localStorage.setItem('data-theme', newTheme);
      }
    </script>
  </body>
</html>
