---
import { BlogGallery } from '@components/BlogGallery';
import { CTA } from '@partials/CTA';
import Base from '@templates/Base.astro';
import { AppConfig } from '@utils/AppConfig';
import { sortByDate } from '@utils/Posts';
import type {
  IFrontmatter,
  MarkdownInstance,
  Page,
} from 'astro-boilerplate-components';
import {
  NewerOlderPagination,
  PaginationHeader,
  Section,
} from 'astro-boilerplate-components';

import { Image } from '@astrojs/image/components';

import readingImage from '/assets/images/reading.png';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

interface BlogPostFrontmatter extends IFrontmatter {
  url: string;
}

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await Astro.glob<BlogPostFrontmatter>('./*.md');
  const sortedPosts = sortByDate(allPosts);

  // Return a paginated collection of paths for all posts
  return paginate(sortedPosts, { pageSize: 6 });
}

interface Props {
  page: Page<MarkdownInstance<BlogPostFrontmatter>>;
}

const { page } = Astro.props as Props;
const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Blog page ${page.currentPage}`;
const title = titleBase + titleSuffix;
const description =
  'Explore a collection of insightful articles and resources in our web development blog. Stay updated with the latest trends, technologies, and best practices in web development. Gain valuable knowledge, tips, and tricks to enhance your skills and create stunning websites. Join our community and unlock the potential of the digital world.';
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title="Insights and Inspiration: The Blog"
      description="Explore the world of web development through my blog section. Gain valuable insights, tips, and tricks on the latest trends, technologies, and best practices in the ever-evolving realm of web development.  Let's embark on a journey together and unlock the limitless potential of the digital world."
    />
    <div class="flex justify-center">
      <Image
        src={readingImage}
        alt="Blog"
        width={300}
        height={300}
        format='png'
        loading="eager"
      />
    </div>

  </Section>

  <Section>
    <BlogGallery postList={page.data} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>

  <CTA />
</Base>
