---
import { ProjectGallery } from '@components/ProjectGallery';
import { CTA } from '@partials/CTA';
import Base from '@templates/Base.astro';
import { AppConfig } from '@utils/AppConfig';
import type { MarkdownInstance, Page } from 'astro-boilerplate-components';
import { PaginationHeader, Section } from 'astro-boilerplate-components';

import type { Project } from '../../types/project';
import {Image} from '@astrojs/image/components';
import projectImage  from '/assets/images/studying.png';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allProjects = await Astro.glob('./*.md');

  // Return a paginated collection of paths for all posts
  return paginate(allProjects, { pageSize: 6 });
}

interface Props {
  page: Page<MarkdownInstance<Project>>;
}

const { page } = Astro.props as Props;
const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Project page ${page.currentPage}`;
const title = titleBase + titleSuffix;
const description =
  'Explore a collection of insightful articles and resources in our web development blog. Stay updated with the latest trends, technologies, and best practices in web development. Gain valuable knowledge, tips, and tricks to enhance your skills and create stunning websites. Join our community and unlock the potential of the digital world.';
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title="Showcasing Web Development Mastery"
      description="Welcome to my web development projects section! Here you will find a showcase of my diverse range of web development projects, highlighting my skills and expertise as a web developer. Get inspired and let's collaborate to bring your next digital venture to life!"
    />
    <div class="flex justify-center">
      <Image
        src={projectImage}
        alt="Project image"
        width={300}
        height={300}
        format='png'
        loading="eager"
      />
    </div>
  </Section>
  <Section>
    <ProjectGallery projectList={page.data} />
  </Section>

  <CTA />
</Base>
